appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
configobj==5.0.6
cryptography==3.3.1
cssselect==1.1.0
fake-useragent==0.1.11
Flask==1.1.2
future==0.18.2
idna==2.10
instaloader==4.5.5
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
parse==1.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyee==7.0.4
PyJWT==2.0.0
pyppeteer==0.2.3
pyquery==1.4.3
python-gnupg==0.4.6
python-ldap==3.3.1
pytz==2020.5
requests==2.25.1
requests-html==0.10.0
secrets==1.0.2
six==1.15.0
soupsieve==2.1
systematic==4.8.7
tqdm==4.55.1
twilio==6.50.1
urllib3==1.26.2
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
